@import "partials/header";
@import "partials/modal";
@import "partials/slider";
@import "partials/grid";
@import "partials/list";

$corporatecolor: tomato;
$maxHolderWidth: 1080px;

html body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}